%div#split
    %div.left
        %p &nbsp;
        :plain
            <div class="fb-subscribe" data-href="https://www.facebook.com/opension" data-show-faces="true" data-width="450"></div>
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=104010117230";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
    %div.right.slide  
        %h2 פרוייקט הפנסיה הפתוחה
        %p 
            %h3 מה זה?
            %span פרוייקט קרן הפנסיה הפתוחה שם לעצמו למטרה להקים קרן פנסיה ללא מטרת רווח בה הכסף שייך לחוסכים. 
        %p 
            %h3 למה צריך את זה?
            %span החוסך הממוצע ישלם עשרות או מאות אלפי שקלים לקרן הפנסיה, קופת הגמל או ביטוח המנהלים לאורך שנות הקריירה שלו. הסיבה לכך היא דמי הניהול שגובות הקרנות הקיימות. דמי ניהול הניגבים ללא קשר לביצועי הקופה וללא אפשרות אמיתית להפחתה משמעותית .
        %p 
            %h3 עקרונות
            %ol
                %li <strong>הכסף שייך לחוסכים</strong> - מה שחסכת שייך לך. הקרן תגבה דמי ניהול הדרושים לפעילותה השוטפת. כל הרווחים יוחזרו לחוסכים. רוב פעילות הקרן תתבצע ע"י מתנדבים ולכן תקורת התפעול של הקרן תהיה מינימלית. 
                %li <strong>שקיפות ונגישות</strong> - כל נתוני הקרן, תיקי ההשקעות, המצב הנוכחי של תיק הפנסיה שלך, החלטות הועד המנהל, וכו' יפורסמו באתר בצורה ברורה ופשוטה.
                %li <strong>פשטות</strong> - הקרן תשקיע בעיקר בהשקעות סולידיות כגון אג"ח מדינה. דבר זה יאפשר לקרן תקורת ניהול קטנה ולכן עלויות ניהול קטנות לחוסכים. עפ"י החלטת החוסכים, יתכן והקרן תשקיע בהמשך אחוז קטן בהון סיכון המופנה לחברות ישראליות ובהשקעות מיקרו לעסקים קטנים.
                %li <strong>ללא מתווכים</strong> - הפעילות תתבצע ישירות אל מול הקרן. ללא דמי תיווך שבדרך כלל נהוגים בתחום.
                %li <strong>קבלת החלטות</strong> - לכל חוסך יש מניה אחת שמעניקה לו זכות הצבעה באסיפת בעלי המניות. המניה אישית ואיננה ניתנת להעברה. בתקנון הקרן יוגדר אילו החלטות דורשות רוב באסיפת בעלי המניות ואילו החלטות יבצע הגוף המנהל.

        %p 
            %h3 איך זה עובד?
            %span זה עוד לא עובד. אנחנו צריכים את עזרתכם. הכוונה היא לבנות קבוצות עבודה בתחומים השונים על מנת להקים את הקרן. אם יש לך נסיון באחד התחומים הבאים, נשמח את תוכל\י להירתם לעזרה. 
            %ul
                %li <strong>עורכי דין</strong> - 
                %li <strong>רואי חשבון</strong> - 
                %li <strong>אנשי שיווק</strong> -
                %li <strong>כלכלנים</strong> - 
                %li <strong>מתכנתים</strong> - 
                %li <strong>גרפיקאים</strong> -

    %div.below-main
        לפרטים נוספים ניתן לכתוב ל
        %a(href="mailto:info@opension.org.il") info@opension.org.il


