%div#split
    %div.left

    %div.right.slide  
        %h2 פרוייקט הפנסיה הפתוחה
        %p 
            %h3 מה זה?
            %span פרוייקט קרן הפנסיה הפתוחה שם לעצמו למטרה להקים קרן פנסיה ללא מטרת רווח בה הכסף שייך לחוסכים. 
        %p 
            %h3 עקרונות
            %ol
                %li הכסף שייך לחוסכים 
                %li שקיפות
                %li פשטות
                %li נגישות         
          

        
    %div.below-main
    לפרטים נוספים ניתן לכתוב ל
    <a href="mailto:info@opension.org.il">info@opension.org.il</a>
      

